{% extends 'base.html' %}


{% block content %}
<div class="row row-title">
</div>
<div class="row row-cards">
    <div class="col s12 m3">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <table class="table-plain"  border="0">
                        <tr>
                            <td>Find Address:</td>
                            <td><b>/api/address/Sandyford</b></td>

                        </tr>
                        <tr>
                            <td>County Addresses:</td>
                            <td><b>/api/county/Cork</b></td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
