{% extends 'base.html' %}


{% block content %}
<div class="blue-box"></div>
<div class="card form-card">
    <form id="geocodeForm" method="POST" enctype="multipart/form-data" class="col s12">
        <fieldset class="form-box">
            <div class="row text-center" style="min-height: 20px">
                <h6 id="formHeader">{{ _('Find Locality in Ireland') }}</h6>
                <h6 id="formError"></h6>
            </div>
            <div class="row plain-element">
                <div class="input-field col s12">
                    <select id="county" name="county">
                        {% for county in counties %}
                        <option value="{{ county }}">{{ county }}</option>
                        {% endfor %}
                    </select>
                    <label>{{ _('Select County') }} </label>
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s12">
                    <input placeholder="{{ _('City, Town or Area') }}" id="locality" name="locality" type="text" class="validate"
                           required>
                    <label for="locality">{{ _('Locality') }} </label>
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s12">
                    <input placeholder="{{ _('Address Line') }} 1" id="address_1" name="address_1" type="text" class="validate">
                    <label for="address_1">{{ _('Address Line') }} 1:</label>
                </div>
            </div>
            <div class="row plain-element">
                <div class="input-field col s12">
                    <input placeholder="{{ _('Address Line') }} 2" id="address_2" name="address_2" type="text" class="validate">
                    <label for="address_2">{{ _('Address Line') }} 2:</label>
                </div>
            </div>
        </fieldset>
        <button class="btn-submit" type="submit" name="action" id="button_geocode"><span>{{ _('Locate') }}  <i
                class="fas fa-map-marker-alt"></i></span>
        </button>

    </form>
</div>

<div id="mapid"></div>


<script>



</script>


{% endblock %}
